extends layout
block content

   .container
      .row
         .col-sm-10.col-md-12.text-center



         h4(class='question_page_title' id='t_#{questions.length}') question #{question_counter+1} out of #{questions.length}
         div.small_text (questions are randomly chosen)

         -for(var i=0; i < questions.length; i++)
            div(class='question-container' id='container#{i}')
               h2(id='question#{i}') #{questions[i].question}
               -var array = questions[i].answer_array.split(",");
               -for(var j = 0; j < array.length; j++)

                  button(class='btn btn-default answer-button' id='#{i}_#{j}')= array[j]
                  br






   .container
      .row
         .col-sm-10.col-md-12.text-center
            h3#response




